.container {
  margin: 175px auto;
  max-width: map-get($container-max-widths, lg);
  width: 100%;
  background-color: $white;
  border-radius: 10px;
  @include container-mq;

  @media screen and (max-width: 640px) {
    margin: 28px auto;
  }
}