@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont.ttf') format('truetype');
  font-weight: 500 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces';
  src: url('../fonts/Fraunces-VariableFont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}