.product-card {
  display: flex;
  margin-bottom: -2.5px;

  @media screen and (max-width: 640px) {
    flex-direction: column;
    margin-bottom: 0;
  }

  &__picture {

    &-img {
      max-width: 300px;
      border-radius: 10px 0 0 10px;

      @media screen and (max-width: 640px) {
        max-width: 343px;
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
  }
  &__description {
    padding: 32px;
    width: 100%;

    @media screen and (max-width: 640px) {
      padding: 24px;
    }

    &-category {
      margin-bottom: 20px;
      @include text-category;

      @media screen and (max-width: 640px) {
        margin-bottom: 12px;
      }
    }

    &-title {
      margin-bottom: 24px;
      @include text-title;

      @media screen and (max-width: 640px) {
        margin-bottom: 16px;
      }
    }

    &-text {
      margin-bottom: 29px;
      @include text-description;

      @media screen and (max-width: 640px) {
        margin-bottom: 24px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      gap: 0 19px;
      margin-bottom: 30px;

      @media screen and (max-width: 640px) {
        margin-bottom: 20px;
      }

      &-new {
        @include text-price-new;
      }

      &-old {
        @include text-price-old;
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 12px;
      padding: 15px 62px;
      max-width: 236px;
      width: 100%;
      border-radius: 8px;
      background-color: $primary-300;

      @media screen and (max-width: 640px) {
        max-width: 295px;
      }

      @media (hover: hover) {
        &:hover {
          background-color: $primary-600;
        }
  
        &:active {
          opacity: 0.5;
        }
      }

      &-text {
        @include text-btn;
      }
    }
  }
}