.product-card {
  display: flex;

  @media screen and (max-width: 640px) {
    flex-direction: column;
  }

  .product-card__product-picture {

    .product-card__product-picture-img {
      max-width: 300px;
      border-radius: 10px 0 0 10px;

      @media screen and (max-width: 640px) {
        max-width: 343px;
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
  }
  .product-card__description {
    padding: 32px;
    width: 100%;

    .product-card__description-category {
      margin-bottom: 20px;
      @include text-category;
    }

    .product-card__description-title {
      margin-bottom: 24px;
      @include text-title;
    }

    .product-card__description-text {
      margin-bottom: 29px;
      @include text-description;
    }

    .product-card__description-price {
      display: flex;
      align-items: center;
      gap: 0 19px;
      margin-bottom: 30px;

      .product-card__description-price-new {
        @include text-price-new;
      }

      .product-card__description-price-old {
        @include text-price-old;
      }
    }
    .product-card__description-cart {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 12px;
      padding: 15px 62px;
      max-width: 236px;
      width: 100%;
      border-radius: 8px;
      background-color: $primary-300;

      @media screen and (max-width: 640px) {
        max-width: 295px;
      }

      @media (hover: hover) {
        &:hover {
          background-color: $primary-600;
        }
  
        &:active {
          opacity: 0.5;
        }
      }

      .product-card__description-cart-text {
        @include text-cart;
      }
    }
  }
}