// Typography
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Fraunces', sans-serif;
$font-size-md: 2rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
$font-weight-medium: 500;
$font-weight-bold: 700;
$line-height-32: 32px;
$line-height-23: 23px;
$line-height-auto: auto;
$letter-spacing: 5px;

// Colors
$primary-900: #1C232B;
$primary-600: #1A4032;
$primary-300: #3D8168;
$secondary: #6C7289;
$background-color: #F2EAE2;
$white: #FFFFFF;

// Containers widths
$container-max-widths: (
  xs: 200px,
  sm: 320px,
  md: 343px,
  lg: 600px,
);

// Breakpoints
$breakpoints: (
  xs: 200px,
  sm: 320px,
  md: 640px,
);

// Spacing
$spacing-1600: 128px;
$spacing-600: 48px;
$spacing-500: 40px;
$spacing-400: 32px;
$spacing-300: 24px;
$spacing-200: 16px;
$spacing-150: 12px;
$spacing-100: 8px;