// Typography
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Fraunces', sans-serif;
$font-size-xl: clamp(36px, 2.08vw, 40px);
$font-size-lg: 28px;
$font-size-md: 20px;
$font-size-sm: 16px;
$font-size-xs: 0.8rem;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$line-height-150: 150%;
$line-height-100: 100%;
$letter-spacing: 0px;

// Colors
$primary-900: #1C232B;
$primary-600: #1A4032;
$primary-300: #3D8168;
$secondary: #6C7289;
$background: #F2EAE2;
$white: #FFFFFF;

// Containers widths
$container-max-widths: (
  xs: 290px,
  sm: 375px,
  md: 616px,
  lg: 736px,
);

// Breakpoints
$breakpoints: (
  xs: 400px,
  sm: 640px,
  md: 1140px,
);

// Spacing
$spacing-1600: 128px;
$spacing-600: 48px;
$spacing-500: 40px;
$spacing-400: 32px;
$spacing-300: 24px;
$spacing-200: 16px;
$spacing-150: 12px;
$spacing-100: 8px;